/*baseScss*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Fonts*/
@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica.otf"), url("../fonts/helvetica-webfont.woff2") format("woff2"), url("../fonts/helvetica-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NexaBold';
  src: url("../fonts/NexaBold.otf"), url("../fonts/nexabold-webfont.woff2") format("woff2"), url("../fonts/nexabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NexaBook';
  src: url("../fonts/Nexa-Book.otf"), url("../fonts/nexa-book-webfont.woff2") format("woff2"), url("../fonts/nexa-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NexaHeavy';
  src: url("../fonts/NexaHeavy.otf"), url("../fonts/nexaheavy-webfont.woff2") format("woff2"), url("../fonts/nexaheavy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NexaLight';
  src: url("../fonts/NexaLight.otf"), url("../fonts/nexa_light-webfont.woff") format("woff2"), url("../fonts/nexa_light-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NexaRegular';
  src: url("../fonts/NexaRegular.otf"), url("../fonts/nexaregular-webfont.woff2") format("woff2"), url("../fonts/nexaregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'QuicksandBold';
  src: url("../fonts/Quicksand-Bold.otf"), url("../fonts/quicksand-bold-webfont.woff2") format("woff2"), url("../fonts/quicksand-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  font: 62.5% "NexaBold", sans-serif;
  background-color: #ebebeb; }

button {
  border: none;
  outline: none; }

a {
  color: white; }

a:hover {
  color: white;
  text-decoration: none; }

p, li {
  font-size: 1.2em; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 1.8em; }

/*modules*/
/*Header*/
.button-arrow-reverse {
  font: 0.91em 'QuicksandBold',sans-serif;
  display: inline-block;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }

.header {
  color: white;
  white-space: nowrap; }
  .header .activate-mobile-menu {
    display: none; }
    .header .activate-mobile-menu .bars-menu {
      font-size: 4em;
      background-color: #373737;
      margin-top: 0.35em; }

/*logo-newsletter-contact*/
.logo {
  display: inline-block;
  font: 1.2em "NexaHeavy", sans-serif;
  text-align: center;
  width: 6.7em;
  padding: 1.2em 0;
  background-color: #f26c4f; }
  .logo .triangle-logo {
    position: absolute;
    bottom: 1.7em;
    left: 7.6em;
    border: 1.4em solid transparent;
    border-left: 1.4em solid #f26c4f; }

.main-title {
  display: inline-block;
  font: 1.8em "NexaRegular", sans-serif;
  padding-top: 1.4em;
  padding-left: 1em; }

.background-color-logo {
  background-color: #373737; }

.newsletter {
  font: 1.2em "NexaBold", sans-serif; }

.button-logo {
  box-shadow: 0 1px 1px #262626;
  margin: 1.4em 1.6em 0 0;
  background-color: white;
  display: inline-block;
  color: #8f8f8f;
  padding-left: 1.5em; }
  .button-logo i {
    color: #f26c4f;
    display: inline-block;
    font-size: 1.4em;
    margin: 0 0.8em 0.50em 0;
    vertical-align: bottom; }
  .button-logo p {
    display: inline-block;
    margin: 0.4em 2.5em 0 0; }
  .button-logo button {
    border-bottom: 1px solid #d8d8d8;
    background-color: #ebebeb;
    width: 3em;
    height: 3em; }
  .button-logo button:hover {
    color: #f26c4f; }

/*desktop-menu*/
.background-color-menu {
  background-color: #474747; }

.desktop-menu {
  overflow: hidden;
  font-family: "NexaBold", sans-serif; }
  .desktop-menu ul {
    padding-top: 2.4em;
    height: 70px; }
  .desktop-menu i {
    margin-left: 1.75em;
    font-size: 1.9em;
    display: inline-block;
    color: #f26c4f; }
  .desktop-menu li {
    margin-left: 3em;
    border-left: 1px #767676;
    padding-bottom: 1.9em;
    display: inline-block; }
  .desktop-menu li:hover {
    border-bottom: 0.3em solid #f26c4f; }

.quicklinks {
  padding-top: 2.4em;
  padding-left: 5.1em; }
  .quicklinks p {
    display: inline-block;
    margin-right: 1em; }
  .quicklinks i {
    color: #f26c4f;
    font-size: 1.9em;
    margin-right: 2.4em; }
  .quicklinks button:hover {
    color: #f26c4f; }
  .quicklinks .button-arrow-reverse {
    background-color: #474747; }

/*responsive*/
@media screen and (max-width: 991px) {
  .header .newsletter {
    display: none; }
  .header .desktop-menu {
    display: none; }
  .header .quicklinks {
    display: none; }
  .header .activate-mobile-menu {
    display: inline-block; }
  .header .bars-menu {
    display: inline-block; } }

@media screen and (max-width: 768px) {
  .header .bars-menu {
    float: right; }
  .header .activate-mobile-menu {
    position: absolute;
    margin-right: -5px; } }

.clear-block {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden; }
