/*baseScss*/
@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica.otf"), url("../fonts/helvetica-webfont.woff2") format("woff2"), url("../fonts/helvetica-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NexaBold';
  src: url("../fonts/NexaBold.otf"), url("../fonts/nexabold-webfont.woff2") format("woff2"), url("../fonts/nexabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NexaBook';
  src: url("../fonts/Nexa-Book.otf"), url("../fonts/nexa-book-webfont.woff2") format("woff2"), url("../fonts/nexa-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NexaHeavy';
  src: url("../fonts/NexaHeavy.otf"), url("../fonts/nexaheavy-webfont.woff2") format("woff2"), url("../fonts/nexaheavy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NexaRegular';
  src: url("../fonts/NexaRegular.otf"), url("../fonts/nexaregular-webfont.woff2") format("woff2"), url("../fonts/nexaregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'QuicksandBold';
  src: url("../fonts/Quicksand-Bold.otf"), url("../fonts/quicksand-bold-webfont.woff2") format("woff2"), url("../fonts/quicksand-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

p {
  font: 16px 'NexaBold',sans-serif; }
