/*Header*/
.button-arrow-reverse{
  font:0.91em 'QuicksandBold',sans-serif;
  display: inline-block;
  -moz-transform: rotate(90deg); 
  -ms-transform: rotate(90deg); 
  -webkit-transform: rotate(90deg); 
  -o-transform: rotate(90deg); 
  transform: rotate(90deg);
}
.header{
  color: white;
  white-space: nowrap;
  .activate-mobile-menu{
    display: none;
    .bars-menu{
      font-size: 4em;
      background-color: $primary-color;
      margin-top: 0.35em;
    }
  }
}
/*logo-newsletter-contact*/
.logo{
  display: inline-block;
  font: 1.2em $font-heavy;
  text-align: center;
  width: 6.7em;
  padding: 1.2em 0;
  background-color: $second-color;
    .triangle-logo{
      position: absolute;
      bottom: 1.7em;
      left: 7.6em;
      border: 1.4em solid transparent;
      border-left: 1.4em solid $second-color;
	  }
}
.main-title{
  display: inline-block;
  font: 1.8em $font-icons;
  padding-top: 1.4em;
  padding-left: 1em;
}
.background-color-logo{
  background-color: $primary-color;
}
.newsletter{
  font: 1.2em $main-font;
}
.button-logo{
  box-shadow: 0 1px 1px $shadow-color;
  margin: 1.4em 1.6em 0 0;
  background-color: white;
  display: inline-block;
  color: $middle-text;
  padding-left: 1.5em;
  i{
    color: $second-color;
    display: inline-block;
    font-size: 1.4em;
    margin: 0 0.8em 0.50em 0;
    vertical-align: bottom;
  }
  p{
    display: inline-block;
    margin: 0.4em 2.5em 0 0;
  }
  button{
    border-bottom: 1px solid #d8d8d8;
    background-color: $background-color;
    width: 3em;
    height: 3em;
  }
  button:hover{
    color: $second-color;
  }
}

/*desktop-menu*/
.background-color-menu{
  background-color: $h-color;
}
.desktop-menu{
  overflow:hidden;
  font-family: $main-font;
  ul{
    padding-top: 2.4em;
    height: 70px;
  }
  i{
    margin-left: 1.75em;
    font-size: 1.9em;
    display: inline-block;
    color: $second-color;
  }
  li{
    margin-left: 3em;
    border-left: 1px #767676;
    padding-bottom: 1.9em;
    display: inline-block;
  }
  li:hover{
    border-bottom: 0.3em solid $second-color;
  }
}
.quicklinks{
  padding-top:2.4em;
  padding-left:5.1em;
  p{
    display: inline-block;
    margin-right: 1em;
  }
  i{
    color: $second-color;
    font-size: 1.9em;
    margin-right: 2.4em;
  }
  button:hover{
    color: $second-color;
  }
  .button-arrow-reverse{
    background-color: $h-color;
  }
}


