//color
$primary-color: #373737;//header-top...
$second-color: #f26c4f;//orange
$background-color: #ebebeb;
$h-color: #474747;//and main-menu...
$light-text: #bababa;//lightIcons,date...
$middle-text: #8f8f8f;//search,contacts,slider-photo...
$shadow-color: #707070;
//fonts
$main-font: 'NexaBold',sans-serif;//main-menu...
$light-font: 'NexaLight',sans-serif;//date...
$mini-text: Arial,sans-serif;//3 blocks middle...
$footer-text: 'Helvetica',sans-serif;
$font-icons: 'NexaRegular',sans-serif;
$font-heavy: 'NexaHeavy',sans-serif;