body{
  font: 62.5% $main-font;
  box-sizing: border-box;
  background-color: $background-color;
}
p,ul{
  font-size: 1.2em;
}
h1{
  font-size: 3em;
}
h2{
  font-size: 2.5em;
}
h3{
  font-size: 1.8em;
}