*{
  box-sizing: border-box;
}
body{
  overflow-x:hidden;
  font: 62.5% $main-font;
  background-color: $background-color;
}
button{
  border: none;
  outline: none;
}
a{
	color:white;
}
a:hover{
	color:white;
	text-decoration: none;
}
p,li{
  font-size: 1.2em;
}
h1{
  font-size: 3em;
}
h2{
  font-size: 2.5em;
}
h3{
  font-size: 1.8em;
}